<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.missu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activitys.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.MessageListActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.FriendDetailActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.MyAvaterActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.ChangePassActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.SearchResultActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.SeachFriendActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activitys.SignInActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".Activitys.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activitys.WelcomeActivity"></activity>
    </application>

</manifest>